html {
	--scale-factor: 1;
	background-color: #202222;
}
@media (max-width: 3500px) {
	html {
		--scale-factor: 4.5;
	}
}
@media (max-width: 3000px) {
	html {
		--scale-factor: 4;
	}
}
@media (max-width: 2500px) {
	html {
		--scale-factor: 3.5;
	}
}
@media (max-width: 2000px) {
	html {
		--scale-factor: 3;
	}
}
@media (max-width: 1500px) {
	html {
		--scale-factor: 2.5;
	}
}
@media (max-width: 1000px) {
	html {
		--scale-factor: 2;
	}
}

@media (max-width: 500) {
	html {
		--scale-factor: 1.5;
	}
}

body {
	font: calc(14px * var(--scale-factor)) "Century Gothic", Futura, sans-serif;
	margin: 0;
	min-height: 100vh;
	color: white;
	text-align: center;
}
h1 {
	width: 100%;
}
ol,
ul {
	padding-left: calc(30px * var(--scale-factor));
	width: max-content;
}
li {
	list-style: none;
	display: flex;
}
li::before {
	width: calc(2px * var(--scale-factor));
	content: "";
	display: block;
	background-color: #494949;
	margin-right: calc(2px * var(--scale-factor));
}
li > button {
	width: 100%;
	font-size: calc(13px * var(--scale-factor));
}
li#current::before {
	background-color: #6c6c6c;
	width: calc(4px * var(--scale-factor));
	margin-left: calc(-1px * var(--scale-factor));
	margin-right: calc(1px * var(--scale-factor));
	content: "1";
	content: "";
}
.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: calc(10px * var(--scale-factor));
}

.square {
	background: #202222;
	border: calc(1px * var(--scale-factor)) solid #837f79;
	float: left;
	font-size: calc(24px * var(--scale-factor));
	font-weight: bold;
	line-height: calc(34px * var(--scale-factor));
	height: calc(34px * var(--scale-factor));
	margin-right: calc(-1px * var(--scale-factor));
	margin-top: calc(-1px * var(--scale-factor));
	padding: 0;
	text-align: center;
	width: calc(34px * var(--scale-factor));
	transition: transform 0.1s ease-in;
	color: white;

	overflow: hidden;
}
.square.empty:hover {
	transform: scale(1.05);
}
.square.winer {
	background-color: rebeccapurple;
	border: none;
}
.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: calc(10px * var(--scale-factor));
}

.game-info {
	margin-left: calc(20px * var(--scale-factor));
}

#root {
	display: flex;
	height: 100vh;
	flex-direction: column;
}
.players {
	width: 100%;
}
button,
input {
	background-color: #242626;
	color: white;
	border: calc(0.5px * var(--scale-factor)) #202222 solid;
}
input {
	margin-top: calc(10px * var(--scale-factor));
	width: calc(40px * var(--scale-factor));
	height: calc(20px * var(--scale-factor));
	text-align: center;
	font-size: calc(13px * var(--scale-factor));
}
.shuffle-btn {
	height: calc(20px * var(--scale-factor));
	width: calc(83px * var(--scale-factor));
	margin: 0;
	font-size: calc(13px * var(--scale-factor));
}
.shuffle-container {
	height: calc(20px * var(--scale-factor));
}
.status {
	width: calc(130px * var(--scale-factor));
}
